<!doctype html>
{% extends 'base.html' %}

{% block title %}
 About US.
{% endblock title %}

{% block body %}
{% load static %}

<main>
    <h1 class="visually-hidden">Heroes examples</h1>
  
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src={% static "img/mm.png" %} alt="" width="300" height="150">
      <h1 class="display-5 fw-bold">About M.M.Gases</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">M.M.Gases offers oxygen cans that contain 99% pure oxygen,
             which helps in raising or restoring oxygen level in the body. M.M.Gases is a premium product
             manufactured under approved drug licenses and SOP as per the latest Indian pharmacopeia guidelines (I.P. 2014).

            Our M.M.Gases portable oxygen can is ideal for 66 million COPD patients as
             it is easy to carry and use. The oxygen can is light-weight weighing just 120 grams.
              Our portable oxygen is packaged in a can containing 99% pure medical grade oxygen with 150 inhalations.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        
        </div>
      </div>
    </div>
  
    <div class="b-example-divider"></div>
  
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold">How M.M.Gases works?</h1>
      <div class="col-lg-6 mx-auto">
    </li></ul>
        <p class="lead mb-4"> <ul><li>Oxygen is our primary source of energy and is responsible for 90% of the brain and body functions</li></ul>
            <ul><li> M.M.Gases instantly increases the oxygen levels in the body and helps restore the brain and body functions to normal.</li></ul>
                <ul><li>By inhaling just 3 to 5 short bursts , M.M.Gases helps to recover from conditions resulting in low oxygen levels in the body.</li></ul></p>
        
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
         
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src={% static "img/cy3.jpg"%} class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="700" loading="lazy">
        </div>
      </div>
    </div>
  
    <div class="b-example-divider"></div>
  
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src={% static "img/kid.jpg"%} class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">What Does Oxygen Shortage Do to the Body?</h1>
          <p class="lead"><ul><li>Oxygen shortage has been linked with heart conditions, 
              cancer, respiratory and lung diseases , sinus problems, inflamed, swollen and aching
               joints and even sexual dysfunction.</li></ul> 
           <ul><li>As we grow older, our cells lose the ability to carry oxygen causing oxygen shortage 
            in the brain and body.</li></ul></p> 
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
           
          </div>
        </div>
      </div>
    </div>
  
    <div class="b-example-divider"></div>
  
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">Applications of all Purpose M.M.Gases PURE OXYGEN Cans:</h1>
          <p class="col-lg-10 fs-4"> <ul><li>Life Saver: Natural oxygen is essential and used as a vital element.</li></ul>
            <ul><li> Respiratory Aids: In various applications such as C.O.P.D, Asthma, Hypoxia, Hypoxemia, Influenza, Emphysema, Breathlessness and many more.</li></ul>
                <ul><li>Emergencies: Patient waiting for Ambulance equipped with Oxygen facility.</li></ul>
                    <ul><li> High Altitude: Reduced air pressure and lower oxygen levels at high altitudes above 2000 Meters cause acute mountain sickness.</li></ul>
                        <ul><li> Sports: During Sports oxygen levels reduce which leads to fatigue, increases stamina, endurance, reduces stress levels, improves memory, alertness and concentration levels.</li></ul></p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            <hr class="my-4">
            <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          </form>
        </div>
      </div>
    </div>
  
    <div class="b-example-divider"></div>
  
    <div class="container my-5">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1">Instructions for use:</h1>
          <p class="lead"><ul><li>Press trigger short burst of oxygen into nose or mouth while inhaling deeply.</li></ul>
            <ul><li>Exhale normally and do not hold your breath.</li></ul>
            <ul><li>Also compatible with oxygen mask.</li></ul></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src={% static "img/cy1.jpg"%} alt="" width="720">
        </div>
      </div>
    </div>
  


{% endblock body %}
