<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href={% static "css/header.css" %}>

</head>
<body>
    


<div class="ccf">
    
    <section class="container">
    
        <div class="pull-left">
        
        
        <img src={% static "img/MMG LOGO.png" %} title="boschi Logo" alt="oxygen can" class="img-responsive logo">
        
        </div>
        <div class="pull-right clearfix">
            <div class="rght-head-info common-box">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>EMAIL</h3>
                            <p><a href="mailto:info@oxy99.in" style="text-decoration:none;text-transform:lowercase;">info@oxy99.in</a></p>
                        </div>
                    </div>
        
            <div class="rght-head-info common-box">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>India Call</h3>
                            <p><b>(+91)-9352120066</b></p>
                        </div>
                    </div>
       
        
    </section>
    </div>


</body>
</html>